/**global**/
*{
}

.header{
  background-color: black;
  color:white;
}
.header .wrapper{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding:.5em;
}
.header .links text{
  margin-right:1em;
  
}
.App{
  color:black;
}
.wrapper{
  margin-left:2em;
  margin-right:2em;
}
.page{
  height:100vh;
}

.page .wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  width:100%;
  padding:1em;
}
.search-bar input{
  width:100%;
  padding:1em;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}
.search-bar button{
  border-top-right-radius:15px;
  border-bottom-right-radius:15px;
  border:none;
  background-color: black;
  color:white;
  padding-left:1em;
  padding-right:1em;
}
.snippet-cards > p{
  text-align: center;
}
.snippet-cards{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.snippet-card{
  border:1px solid black;
  padding:1em;
  margin:.5em;
  border:none;
  box-shadow: 4px 2px 10px silver;
  width:400px;

}
.card-tag{
  border-radius:12px;
  border:1px solid black;
  margin-right:1em;
  padding:.3em;
  background-color: black;
  color:white;
 
}

.form-code{
  background-color:ghostwhite;
  height:100%;
  width:100%;
}

.outer-modal{
  position: absolute;
  height:100vh;
  width:100%;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  z-index:2;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgba(0,0,0,0.3);
}
.inner-modal{
  background-color:white;
  box-shadow:2px 2px 10px rgba(0,0,0,0.3);
  height:75%;
  width:80%;
  z-index:5;

}
.form{
  display:flex;
  flex-direction: column;
  color:black;
  padding:1.5em;
}
.form-info{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width:100%;
  height:100%;
  color:black;
}
.form-info > *{
  margin:1em;
}
.form .form-code{
  width:100%;
  height:20em;
}
.form-code textarea{
  width:100%;
  height:100%;
}
.form .form-inputs{
  width:100%;
}
.form .form-input{
  
  display:flex;
  flex-direction: column;
  width:100%;
}
.form .form-input-tags{
  display:flex;
  flex-direction: row;
  margin-top:.5em;
  margin-bottom:.5em;
}
.form-input input{
  width:100%;
}
.form-input textarea{
  width:100%;
  height:10em;
}

.footer{

    background-color: black;
    color:white;
}
.footer .wrapper{
  display:flex;
  justify-content: center;
  flex-direction: row;
}