/**global**/
*{
}

.header{
  background-color: black;
  color:white;
}
.header .wrapper{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding:.5em;
}
.header .links text{
  margin-right:1em;
  
}
.App{
  color:black;
}
.wrapper{
  margin-left:2em;
  margin-right:2em;
}
.page{
  height:100vh;
}

.page .wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  width:100%;
  padding:1em;
}
.search-bar input{
  width:100%;
  padding:1em;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}
.search-bar button{
  border-top-right-radius:15px;
  border-bottom-right-radius:15px;
  border:none;
  background-color: black;
  color:white;
  padding-left:1em;
  padding-right:1em;
}
.snippet-cards > p{
  text-align: center;
}
.snippet-cards{
  display:flex;
  flex-direction: row;
  flex-wrap: 1 1 2;
}
.snippet-card{
  border:1px solid black;
  padding:1em;
  margin:.5em;
  border:none;
  box-shadow: 4px 2px 10px silver;

}
.card-tag{
  border-radius:12px;
  border:1px solid black;
  margin-right:1em;
  padding:.3em;
  background-color: black;
  color:white;
 
}
.footer{

    background-color: black;
    color:white;
}
.footer .wrapper{
  display:flex;
  justify-content: center;
  flex-direction: row;
}